* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.logo {
  background-color: gray;
  padding: 15px 30px;
  font-weight: 700;
  color: white;
  font-size: 24px;
}
.header-title {
  text-align: center;
  margin: 20px 0;
}

.form {
  text-align: center;
  margin: 20px auto;
  background-color: gray;
  width: 250px;
  padding: 15px;
  border-radius: 5px;
}
.form input[type="text"] {
  width: 90%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}
.form input[type="submit"] {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}
/* weather-container */
.error {
  text-align: center;
  color: red;
  font-size: 18px;
  margin-bottom: 35vh;
}
.weather-container {
  background-color: #1b1a1a;
  opacity: 0.9;
  color: white;
  width: 300px;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.city {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.icon-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}
.description {
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
}
.icon-temp img {
  width: 140px;
  height: 120px;
}
/* Footer section */
.footer {
  margin-top: 30px;
  text-align: center;
  padding: 15px;
  background-color: gray;
  bottom: 0;
  width: 100%;
}
.footer p {
  color: #fff;
  font-size: 14px;
}
